<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> Food: Calories Information</h1>
      </div>
    </div>


    <div class="container">

      <hr>
		<h1>Calories information...</h1>
    </div> <!-- /container -->



<% include ./footer %>
