<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>


    <div class="container">

      <hr>
		<h1>Contact Us:</h1></hr>
		This page was created for the Software Engineering class at Boston University
		<br>
		BU-MET-CS-673 <br> SWENG <br> Professor Czik
		<br>
		Fall 2015
		<br>
		
		<h3>Created By:</h3>
		<ul>
		<li>Genevieve LaFrance</li>
		<li>Jiachen Huang</li>
		<li>Amal Kadi</li>
		<li>Rasha Altamimi</li>
		<li>Will Dunn</li>
		<li>Ian Holgate</li>
		
		<img src="/images/bulogo.jpg" style="max-height:200px" alt="BU Logo">
    </div> <!-- /container -->


<% include ./footer %>