<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/exercise>Exercise</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>8 Everyday Ways to Flatten Your Abs</h2>
          <p>•  By Beth W. Orenstein | Medically reviewed by Cynthia Haines, MD</p>
          <p>•  http://www.everydayhealth.com/fitness/everyday-ways-to-flatten-your-abs.aspx</p>
          <p>Hours of crunches aren't the only key to a flat stomach. Simply sneak in a few minutes of these eight exercises every day, and you'll be on your way to tight, toned abs in no time.
You think the old adage ‘no pain, no gain’ is totally true when it comes to your abs? Not so, says Paige Waehner, a Chicago-based personal trainer. There are plenty of ways you can engage your core all day long for fitness and weight loss — without hours of mat work at the gym or at home. With these tips, you can work your way to flatter abs while you’re on your way to work, while you’re at work, and when you’re relaxing at home. Even better, these eight moves are simple enough that they’re the perfect starter routine for any fitness level:
1.  Take five for morning fitness: Ballerinas are known for their flat stomachs, so spend five minutes copying this dance move when you get up in the morning: Stand to the left of a chair and rest your left hand on the chair’s back. Keep your legs together. Touch your heels, and point your toes out to form a triangle. Lift your right arm straight up, reaching for the ceiling. Now hinge forward at the waist, round your back, and reach your right hand toward the floor, touching it if you can. Holding the position, tighten your abs, bringing your belly button in toward your spine. Exhale and slowly lift yourself to the starting position. A complete repetition should take about 20 seconds. Do five repetitions in all, adding more reps as you feel stronger.
2.  Work your core as you commute: Driving to work or taking public transit? Do some isometric contractions while on your way. Pull your abs in and contract without holding your breath. Hold for a few seconds and then release. Here’s a good way to be sure you do it enough to benefit: “Repeat for at least two songs on the radio,” Waehner says.
3.  Stretch at your desk: Once you’re at work and at your desk, try these seated rotations. Hold a full water bottle, paperweight, or small hand weight between both hands. Sit up tall and keep your hips and knees forward. Slowly rotate the bottle from one side of your body to the other side, concentrating on contracting your obliques, Waehner advises. Extra: If you squeeze your weight of choice as you rotate, you will engage your chest.
4.  Try side bends before lunch: “This is a great one to do at work when you need to stretch,” Waehner says. Stand up and reach your arms overhead, pressing your palms together and keeping your arms straight. Stretch up and lean to the right as far as you can, focusing on contracting the left side of your waist. Come back to the center and lean to the left, focusing on contracting the right side of your waist. Repeat for 30 to 60 seconds. Sure, you might get some strange looks from your co-workers, but once they realize how good this stretch feels, they just might join in.
5.  Do leg lifts in line: Sneak in this move while waiting in line at the cafeteria or in the grocery store. Stand with your feet 2 to 3 inches apart. Engage your abdominal muscles so that your spine is stable and straight. Slowly lift your left leg 3 to 6 inches off the ground and balance on your right leg. Try not to sway from side to side as you hold this position for 10 to 15 seconds. Return your foot to the ground and repeat with your right leg. Aim for an equal number of repetitions with each leg before you reach the head of the line.
6.  Move in the mid-afternoon: Here’s another ab workout you can try mid-afternoon at your desk: Stand up and put your hands flat on your desk, directly under your shoulders. Keeping your back flat, walk one foot back and then the other until your body forms a straight line. “You should look as though you’re going to do a push up,” Waehner says. Now walk your feet in towards your desk. Repeat for 60 seconds or more.
7.  Add abs after dinner: When you’re at home relaxing, get off the couch, and grab a stability ball, one of Waehner’s favorite fitness tools. For this workout, lie on the ball, positioning it under your lower back. Place your arms behind your head or cross them over your chest. Tighten your abs, and lift your torso off the ball. As you contract your stomach muscles, pull the bottom of your rib cage down toward your hips. Lower back down to stretch your abs. The ball forces your legs to do more work than just doing floor crunches, Waehner explains. Plus, maintaining your balance on the ball will force you to engage your entire body for balance.
8.  Exercise before bed: Lie down on the floor on your back with your legs straight out. Slowly bring your right leg up toward the ceiling as you lift your left arm as well. Cross your leg over your body so your toes touch your fingertips (or get them as close as you can). Lower and repeat with your left leg and your right arm. Go slow so you can control the movement, and do as many as you can in five minutes.
Sneak these ab exercises into your day and you’ll start to see results. But, Waehner notes, remember that for a truly flat stomach, it takes more than exercise alone. Don’t forget to exercise regularly and eat a healthy, balanced diet while burning more calories than you consume.
For more fitness, diet, and nutrition trends and tips, follow @weightloss on Twitter from the editors of @EverydayHealth.

 </p>
<p>
Last Updated: 12/13/2011
</p>



      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
