<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/exercise>Exercise</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>How Much Exercise Is Enough?</h2>
          <p>• By Barbara Robb, MA | Medically reviewed by Pat F. Bass III, MD, MPH </p>
          <p>• http://www.everydayhealth.com/fitness/basics/how-much-exercise-do-i-need.aspx</p>
          <p>It depends on whether you want to lose weight, increase endurance, or reach other fitness milestones. Learn about exercise guidelines and the importance of determining your exercise goals.
Before you make a decision on how much exercise you need, you should have a good idea of your exercise goal or goals: Are you exercising for physical fitness, weight control, or as a way of keeping your stress levels low?
Exercise: How Much You Need
"How much exercise is enough for what?," asks David Bassett, Jr., PhD, a professor in the department of exercise, sport, and leisure studies at the University of Tennessee in Knoxville.
For general health benefits, a routine of daily walking may be sufficient, says Susan Joy, MD, director of the Women's Sports Health Program at the Cleveland Clinic.
If your goal is more specific — say, to lower your blood pressure, improve your cardiovascular fitness, or lose weight — you'll need either more exercise or a higher intensity of exercise. So figure out your goals first, then determine what type of exercise will help you meet them and how much of that particular exercise you'll need to do.
Current Exercise Guidelines for Americans
According to the U.S. Centers for Disease Control and Prevention, everyone needs two types of physical activity each week: aerobics and muscle-strengthening activities. Aerobic activity involves repetitive use of the large muscles to temporarily increase heart rate and respiration. When repeated regularly, aerobic activity improves cardio-respiratory fitness. Running, brisk walking, swimming, and cycling are all forms of aerobic activity.
Muscle-strengthening activities are designed to work one or more muscle groups. All of the major muscle groups — legs, hips, back, abdomen, chest, shoulders, and arms — should be worked on two or more days each week. Lifting weights, working with resistance bands, and doing pushups are all are forms of muscle-strengthening activities.
Adults need at least 150 minutes of moderate-intensity physical activity each week, in addition to muscle-strengthening activities. If activity is more vigorous in intensity, 75 minutes a week may be enough. For even greater health benefits, though, more activity is better: 300 minutes of moderate-intensity activity or 150 minutes of vigorous-intensity activity, or a mix of the two.
It's best to be active throughout the week, rather than concentrating all of your physical activity in one day. That means 30 to 60 minutes of exercise, five days a week. You can break it up into even smaller chunks: three brief periods of physical activity a day, for example. In order for it to be effective in improving health and fitness, you need to be sure to sustain the activity for at least 10 minutes at a time.
Exercise: What You Need to Lose or Maintain Weight
A combination of dieting and exercise is more effective for weight loss than dieting alone. To lose weight, 60 minutes of moderate to vigorous intensity physical activity on most days is recommended. Physical activity is also important to maintain weight loss. Moderate intensity physical activity for 60 to 90 minutes on most days will help maintain weight loss. Of course, a healthful, low-calorie diet is also important for both losing and maintaining weight. The amount of exercise you need for weight loss or weight control depends on what you eat, as well as on the type of exercise you choose.
Know what you want to achieve, and then you can answer the question: How much exercise is enough?
 </p>
<p>
Last Updated: 7/1/2009
</p>


   </div> <!-- /container -->




<% include ./footer %>
