<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/exercise>Exercise</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
		<h1>Articles</h1>
    <div class="row">
          <h2>The Lifelong Benefits of Exercise</h2>
          <p>•  By Heidi Tyline King | Medically reviewed by Niya Jones, MD, MPH </p>
          <p>• http://www.everydayhealth.com/fitness/basics/get-fit-for-life.aspx</p>
          <p>Stop procrastinating and start exercising! The benefits of physical fitness are too great to ignore.
Feel younger, live longer. It's no slogan — these are actual benefits of regular exercise. People with high levels of physical fitness are at lower risk of dying from a variety of causes, according to a recent study published in the Journal of the American Medical Association.
Physical Fitness: What the Benefits of Exercise Mean for You
There's more good news. Research also shows that exercise enhances sleep, prevents weight gain, and reduces the risk of high blood pressure, stroke, type 2 diabetes, and even depression.
"One study found that when breast cancer survivors engaged in exercise, there were marked improvements in physical activity, strength, maintaining weight, and social well-being," explains Rachel Permuth-Levine, PhD, deputy director for the Office of Strategic and Innovative Programs at the National Heart, Lung, and Blood Institute of the National Institutes of Health.
"Another study looked at patients with stable heart failure and determined that exercise relieves symptoms, improves quality of life, reduces hospitalization, and in some cases, reduces the risk of death," adds Dr. Permuth-Levine. She points out that exercise isn't just important for people who are already living with health conditions: "If we can see benefits of moderate exercise in people who are recovering from disease, we might see even greater benefits in those of us who are generally well."
Physical Fitness: Exercise Basics
Physical activity doesn't have to be strenuous to produce results. Even moderate exercise five to six times a week can lead to lasting health benefits.
When incorporating more physical activity into your life, remember three simple guidelines:
1.  Exercise at moderate intensity for at least 2 hours and 30 minutes spread over the course of each week.
2.  Avoid periods of inactivity; some exercise at any level of intensity is better than none.
3.  At least twice a week, supplement aerobic exercise (cardio) with weight-bearing activities that strengthen all major muscle groups.
Physical Fitness: Making Exercise a Habit
The number one reason most people say they don't exercise is lack of time. If you find it difficult to fit extended periods of exercise into your schedule, keep in mind that short bouts of physical activity in 10-minute segments will nonetheless help you achieve health benefits. Advises Permuth-Levine, "Even in the absence of weight loss, relatively brief periods of exercise every day reduce the risk of cardiovascular disease."
Set realistic goals and take small steps to fit more movement into your daily life, such as taking the stairs instead of the elevator and walking to the grocery store instead of driving. "The key is to start gradually and be prepared," says Permuth-Levine. "Have your shoes, pedometer, and music ready so you don't have any excuses."
To help you stick with your new exercise habit, vary your routine, like swimming one day and walking the next. Get out and start a baseball or soccer game with your kids. Even if the weather doesn't cooperate, have a plan B — use an exercise bike in your home, scope out exercise equipment at a nearby community center, or consider joining a health club. The trick is to get to the point where you look at exercise like brushing your teeth and getting enough sleep — as essential to your well-being.
Remember that physical fitness is attainable. Even with small changes, you can reap big rewards that will pay off for years to come. </p>
<p>
Last Updated: 7/1/2009
</p>



      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
