<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/exercise>Exercise</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>Running Made Smarter, Not Harder</h2>
          <p>•  By Sushma Subramanian, Senior Editor</p>
          <p>•  http://www.everydayhealth.com/fitness/0601/running-made-smarter-not-harder.aspx</p>
          <p>Is 10-20-30 the (latest) holy grail of runner training? The new method improved running performance while cutting down on training time in a small University of Copenhagen study.
Get Better Results at the Gym
FRIDAY, June 1, 2012 — You don't have to log hours at the gym to improve your running speed and your overall health. In fact, all it takes is about half an hour a day if you use the right method, according a study published in the Journal of Applied Physiology.
Danish researchers tested the concept, called 10-20-30 training, with 18 runners. The technique involves a 1 kilometer warmup, then three to four blocks of five-minute periods of running followed by two minutes of rest after each block. Each minute of the five-minute run consists of intervals of 30 seconds at an easy pace, 20 seconds at a moderate pace, and 10 seconds at maximum intensity.
The 18 runners in the study were able to improve their performance on a 1,500-meter run by 23 seconds on average, and by almost a minute on a 5-kilometer run. Meanwhile, they cut their training time in half. The runners also had a significant decrease in blood pressure and cholesterol in their blood.
Good Runners Getting Better
"We were very surprised to see such an improvement in the health profile considering that the participants have been running for several years," said Jens Bangsbo, an exercise scientist at the University of Copenhagen who headed the project, in a statement.
The study subjects were already moderately-trained runners, but Bangsbo said in the statement that people with different fitness levels can also use the technique because it deals with relative speeds, including low-speed running. He added that the 10-20-30 method is perfect for a person with a busy schedule because it can take just 20 to 30 minutes.
Another benefit, according to Thomas Gunnarsson, a PhD involved with the study, was an improvement in emotional well-being. "We found a reduction in emotionalstress when compared to control subjects continuing their normal training, based on a recovery-stress questionnaire administered before and after the seven-week training period," Gunnarsson said in a statement.
Just the Latest Running Fad?
Not everyone believes the 10-20-30 method is the new magic formula to improve fitness in less time.
Over the years, similar training concepts have been tried, wrote Steve Magness, a coach and scientific adviser for the Nike Oregon Project, an effort by the shoe company to revitalize U.S. middle-distance and long-distance running, in his personal blog, titled the Science of Running. There was 30-30, for example, which involved running at maximum speeds for 30 seconds, then jogging for 30 seconds.
The techniques are useful, he wrote, but they all boil down to one thing: adding more intensity to your workout. When you kick your exercise routine into high gear through interval training, your body quickly searches for more sources of energy, causing faster fat burn, says Heather Leidy, a University of Missouri exercise physiologist. At the same time, your body gets trained to process the oxygen you're inhaling more efficiently, which adds up to better health and increased running speed.
"For well trained athletes, this is just another variation of a faster speed workout," Magness wrote about the 10-20-30 technique. "It’s not magical. It’s another tool in the shed."
 </p>
<p>
Last Updated: 6/1/2012
</p>

    </div> <!-- /container -->



<% include ./footer %>
