<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/exercise>Exercise</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>Fitness Glossary</h2>
          <p>•  By Barbara Robb, MA | Medically reviewed by Cynthia Haines, MD</p>
          <p>•  http://www.everydayhealth.com/fitness/basics/fitness-terms.aspx</p>
          <p>How knowledgeable are you about fitness and exercise? Learn the definitions of fitness terms.
If you’re going to walk the walk of regular workouts, you also need to talk the talk. Get started by becoming familiar with some of the basic terms of fitness and exercise.
Exercise and Fitness Glossary
Aerobic. Involving repetitive use of the large muscles, temporarily increasing heart rate and respiration.
Balance. The ability to maintain bodily equilibrium while standing still or moving.
Balance training. Activities designed to improve challenges to balance.
Baseline activity. Activities of daily life, such as standing and walking slowly.
Body composition. The proportion of lean mass (composed of muscle, bone, vital tissue and organs) and fat in the body.
Bone-strengthening activity. Physical activities that involve impact or tension on the bones, promoting bone growth and strength. Lifting weights, running, and jumping rope are examples.
Cardio-respiratory endurance. The ability to deliver oxygen and nutrients to tissues over a sustained period of time.
Duration. How long it takes for an activity or exercise to be performed.
Exercise. Repetitive physical activity performed in order to improve or maintain physical fitness or health.
Flexibility. The range of motion possible at a joint, or the ability to use joints and muscles through their full range of motion.
Flexibility exercise. Exercise designed to improve the ability of a joint to move through a full range of motion.
Intensity. The amount of effort required for an activity or exercise.
Interval training. An exercise regimen in which intervals of vigorous activity alternate with less vigorous intervals of recovery.
Isometric exercise. Contraction of muscle without shortening of the muscle, as when pushing against an immovable object.
Lifestyle activities. Activities performed regularly in daily life, such as climbing stairs or walking.
MET. The abbreviation for metabolic equivalent. Metabolic equivalent is a unit of energy expenditure, or metabolic cost, of physical activity. One MET is the rate of energy expenditure while sitting at rest.
Moderate-intensity physical activity. Physical activity that increases heart rate and respiration, while still allowing conversation.
Muscle-strengthening activity. Activity or exercise designed to work one or more muscle groups.
Muscular endurance. The ability of muscles to sustain repeated contractions.
Muscular strength. The ability of a muscle to exert force.
Physical activity. Any movement that increases energy expenditure above a baseline level.
Physical fitness. The ability to perform daily routines without getting overly tired.
Progression. An increase in the intensity, frequency, and/or duration of an activity over a period of time.
Repetitions. In strengthening activities, the number of times a weight is lifted.
Resistance training. Exercise applying resistance to movement, such as using weights or stretch bands.
Strength. The ability of a muscle or muscle group to exert force.
Vigorous-intensity physical activity. Physical activity that increases heart rate and respiration to the point that only a few words can be spoken before pausing to catch one's breath.
 </p>
<p>
Last Updated: 7/1/2009
</p>



      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
