	<div class="footer navbar-fixed-bottom" style="background-color:rgba(0,0,0,1)">
    <div class="container">
        <p style="color:white">&copy; BU-MET-CS CS673 Group6 2015</p>
    </div> <!-- /container -->
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>