<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <a href=/><h1>FitApp</h1></a>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <p>FitApp is your online portal to health and fitness! Signup/login to start keeping track of your steps, calories consumed, hours slept, and heart rate.</p>
      <div class="row">

        <div class="col-md-4">
          <h2>Nutrition</h2>
          <p>Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity, your diet can help you to reach and maintain a healthy weight, reduce your risk of chronic diseases (like heart disease and cancer), and promote your overall health.</p>
        </div>
		<div class="col-md-4">
          <h2>Exercise</h2>
          <p>Physical exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness. It is performed for various reasons, including strengthening muscles and the cardiovascular system, honing athletic skills, weight loss or maintenance, and merely enjoyment.</p>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutrition" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/exercise" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
