<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <a href=/><h1>FitApp</h1></a>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Hours of Sleep</h2>
          <p>Sleep makes you feel better, but its importance goes way beyond just boosting your mood or banishing under-eye circles. Adequate sleep is a key part of a healthy lifestyle, and can benefit your heart, weight, mind, and more.
            <br><br>"Sleep used to be kind of ignored, like parking our car in a garage and picking it up in the morning," says David Rapoport, MD, director of the NYU Sleep Disorders Program. </p>
        </div>
        <div class="col-md-4">
          <h2>Running Steps</h2>
          <p>Jogging or running is a popular form of physical activity.
            About one in five Australians try running (or jogging) at some stage in their life.
             Running is an appealing exercise because it doesn't cost a lot to take part and you can run at any
              time that suits you.</p>
       </div>
        <div class="col-md-4">
          <h2>Calories</h2>
          <p>A calorie is a measure of energy:
“1 calorie is the amount of energy required to increase the temperature of 1 gram of water by 1 degree Celsius.”
The official measure of energy is Joule. 1 calorie equals 4.184 joules.
What we usually refer to as “calories” is actually kilocalories (kcal).
One kilocalorie, or one dietary Calorie (with a capital “C”) is the energy required to heat 1 kilogram of water by 1 degree celsius.
One dietary Calorie (kilocalorie) is 4184 joules.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><a class="btn btn-default" href="/sleep" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/stepcount" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <p><a class="btn btn-default" href="/calories" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Heart Rate</h2>
          <p>Even if you’re not an athlete, knowledge about your heart rate can help you monitor your fitness level — and it might even help you spot developing health problems.

Your heart rate, or pulse, is the number of times your heart beats per minute. Normal heart rate varies from person to person. Knowing yours can be an important heart-health gauge.</p>
        </div>

        <div class="col-md-4">
          <h2>Nutrition</h2>
          <p>Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity, your diet can help you to reach and maintain a healthy weight, reduce your risk of chronic diseases (like heart disease and cancer), and promote your overall health.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><a class="btn btn-default" href="/heartrate" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutrition" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
