    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-left">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">FitApp<b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li class="active"><a href="/">Home</a></li>
                <li><a href="/exercise">Excercise</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
				<li><a href="/gyms">Gyms Near You</a></li>
                <li><a href="/stepcount">Tools</a></li>
              </ul>
            </li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			
          <form id="myFile" class="navbar-form navbar-right" method="post" action="/updateData">
            <label style="color:white">Welcome, </label>
            <a style="color: white" id="updateData" ><%=user_name%></a>
            <input type="hidden" id="emailAddress" value="<%=user_email%>" name="email"></input>
            <a class="btn btn-success" href="/">Sign out</a>
          </form>
		  
		  </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
