    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-left">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">FitApp<b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li class="active"><a href="/">Home</a></li>
                <li><a href="/exercise">Excercise</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
				<li><a href="/gyms">Gyms Near You</a></li>
                <li><a href="/stepcount">Tools</a></li>
              </ul>
            </li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			
          <form class="navbar-form navbar-right" id="login" method="post" action="/personal">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" id="password">
            </div>
            <a class="btn btn-success" id="signin">Sign in</a>
            <a class="btn btn-success" href="/signup">Sign up</a>
			<a>  </a>
			<a href="/forgotpwd">Forgot Password</a>
          </form>
		  </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>