<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/nutrition>Nutrition</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
		<h1>Articles</h1>
    <div class="row">
          <h2>Nutrition Guidelines: Getting Started</h2>
          <p>• By Diana Rodriguez | Medically reviewed by Niya Jones, MD, MPH</p>
          <p>• http://www.everydayhealth.com/diet-nutrition/101/nutrition-basics/start-with-the-basics.aspx</p>
          <h3 class="eh-deck">
        With so many diets and quick weight-loss promises on the market today, it's hard to remember what a healthy diet really looks like. Start here with the basics of good nutrition.
    </h3>

                    
    <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-12  article-image pull-left clear-left">
        <img src="http://images.agoramedia.com/everydayhealth/cms/myplate-article.jpg?width=200" id="eh-share-img" />

        
    </figure>


                    <div class="article-content">
                            <div class="article-body" itemscope itemtype="http://schema.org/Article">
        
  <p>Diet pills, fad diets, foods to boycott, foods to eat exclusively. With all the crazy diet advice out there, do you even remember the basics of healthy eating? Get rid of the clutter when it comes to diets, and use basic good nutrition guidelines and the <a href="/diet-nutrition/0602/six-new-healthy-eating-rules-without-the-food-pyramid.aspx">U.S. Department of Agriculture (USDA)'s MyPlate</a> as your framework for healthy eating. </p>
  <h2>
    <strong>Food Groups and Healthy Nutrition: MyPlate</strong>
  </h2>
  <p>So how do we know what healthy meals should look like? The USDA is responsible for publishing nutritional guidelines for healthy eating based on ongoing research. Although the basics haven't really changed, recently, there have been a few adjustments.</p>
  <p>The major adjustment is the focus on filling half of your plate with fruits and vegetables at every meal. Women need at least seven servings of <a href="/diet-nutrition/meal-planning/shopping/shopping-for-fruits-and-vegetables.aspx">fruits and vegetables</a> each day, while men need at least nine. "We just know there's so much good stuff in fruits and vegetables," including essential nutrients and fiber, says Sandra Meyerowitz, MPH, RD, a nutritionist and owner of Nutrition Works in Louisville, Ky. Carbohydrates are also an important part of a healthy diet, contrary to many popular fad diets being touted today — the key is consuming fiber-rich complex carbs like beans, whole grains, and fruit. </p>
  <h2>
    <strong>Food Groups and Healthy Nutrition: USDA Recommendations</strong>
  </h2>
  <p>Here are details about the USDA's recommended nutritional guidelines to follow for a healthy eating plan: </p>
  <ul>
    <li>Focus on fruits and vegetables: Fill have of your plate with fruits and vegetables at every meal.</li>
    <li>Go for low-fat dairy: Consume at least three cups of low-fat or fat-free milk each day or the equivalent in cheese, yogurt, or other calcium-rich foods.</li>
    <li>Choose whole grains: Get at least six to eight servings of whole grains each day. Grains should fill a quarter of your plate at each meal.</li>
    <li>Steer clear of trans and saturated fats, sodium (salt), sugars, and cholesterol: Limit fat to only about 20 to 35 percent of total calorie intake and avoid trans and saturated fats.</li>
    <li>Choose lean proteins: Fill the remaining quarter of your plate with lean protein. About 15 percent of your total calories should come from proteins, such as skin, fish, beans, nuts, and legumes. </li>
  </ul>
  <h2>
    <strong>Food Groups and Healthy Nutrition: Guidelines to Get You Going</strong>
  </h2>
  <p>Here are some other tips to help you develop a healthy eating plan. If you keep these general nutrition rules in mind, you'll be on the right track toward healthy eating for life: </p>
  <ul>
    <li>Pay attention to portion control; quantities depend on whether you’re trying to lose or maintain <a href="/diet-nutrition/weight-management.aspx">weight</a>. In most restaurants, an appetizer serving is often closer to an appropriate serving size than an entrée.</li>
    <li>Always drink plenty of water.</li>
    <li>Vary your food choices to make sure you get a wide variety of <a href="/diet-nutrition/vitamins-meds.aspx">vitamins</a> and other nutrients and to avoid boredom.</li>
    <li>Know the recommended daily calorie intake for your age, weight, height, activity level, and gender.</li>
    <li>Don't deprive yourself of foods you love; just enjoy them in moderation. </li>
  </ul>
  <p>
</p><p>Start thinking about the basics of <a href="/diet-nutrition/101.aspx">diet and nutrition</a> again, and make nutritional guidelines part of your everyday life. It won't be a diet, it won't be a fad, and it definitely won't be temporary. It will be your new healthy lifestyle, and when you think, "What's for dinner?" the answer will naturally be a healthy choice. </p>


    </div> <!-- /container -->



<% include ./footer %>