<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/nutrition>Nutrition</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>Measuring Body Fat</h2>
          <p>• By Kristen Stewart | Medically reviewed by Pat F. Bass III, MD, MPH</p>
          <p>• http://www.everydayhealth.com/diet-nutrition/weight-management/calculating-your-body-fat.aspx</p>
          <h3 class="eh-deck">
        The scale isn't the only way to tell if you're overweight. Read how body fat is measured and what percentage of body fat compared to your total weight is considered too much.
    </h3>
        
  <p>Many people who are watching their weight — or trying to lose some pounds — turn to their bathroom <a href="/diet-nutrition/scales-and-diets.aspx">scale</a>. But that old familiar standby is not the only way to measure one’s size. Another possibility to consider is your body fat percentage. </p>
  <p>
    <strong>Body Fat: What Are the Dangers?</strong>
  </p>
  <p>When most of us hear the words "body fat" they have immediate negative connotations. However, in the right proportion, fat is actually critical to our <a href="/diet-nutrition/101.aspx">diet</a> and health. In the not-so-distant past, the ability to store extra body fat allowed our ancestors to survive in times of famine, when food was hard to come by. Even today it’s essential to keep the body functioning, to preserve body heat, and to protect organs from trauma. </p>
  <p>Problems arise when our bodies store too much fat. This can lead to a variety of health issues, including high cholesterol, hypertension, glucose intolerance, and insulin resistance. Especially dangerous is fat stored at the waist, creating what is often called an “apple-shaped” body, as opposed to fat on the hips and thighs, a “pear-shaped” body. </p>
  <p>“Normal body fat for men is around 8 to 15 percent of their total body weight and for women approximately 20 to 30 percent,” says Caroline Apovian, MD, associate professor of medicine and pediatrics at Boston University School of Medicine and director of the Center for Nutrition and Weight Management at Boston Medical Center. </p>
  <p>

</p><p>
    <strong>Body Fat: How Can It Be Measured?</strong>
  </p>
  <p>

</p><p>There are a variety of ways to measure the amount of body fat a person is carrying. “The most accurate way is ‘underwater weighing,’ which weighs the person on land and then underwater,” says Mary M. Flynn, PhD, RD, chief research dietitian and assistant professor of medicine at the Miriam Hospital and Brown University in Providence, R.I. “But equipment for this is very expensive and not readily available.” </p>
  <p>Another fairly accurate option is Bioelectric Impedance Analysis (BIA). BIA consists of electrodes being placed on a person’s hand and foot while a current (which is not felt) is passed through the body. Fat has less water and is more resistant to the current, whereas muscle, which contains more water, is less resistant. The resulting numbers are entered into an equation which figures the percentage of fat and lean tissue. </p>
  <p>The easiest method is measuring waist circumference and determining the <a href="/toolkit/weightcalculator/index.aspx">Body Mass Index</a> (BMI). A waist circumference over 35 inches for women and 40 inches for men is cause for concern. </p>
  <p>Figuring BMI involves a little more calculation. BMI is done by multiplying your weight in pounds by 703, then dividing that number by your height in inches two times. If the end result is less than 18.5, the individual is underweight;18.5 to 24.9 is normal; 25.0 to 29.9 is overweight; and over 30 is obese. </p>
  <p>“However, you must be aware of this disclaimer. BMI alone is not an indication of body fat, especially in athletes and bodybuilders. Growing children under 18 years old should also avoid using BMI,” says Elizabeth Downs, RD, clinical dietitian at the Montefiore Medical Center at the University Hospital for the Albert Einstein College of Medicine in the Bronx, N.Y. </p>
  <p>One final way of determining body fat is using skin calipers to measure fat at specific places in the body. However, not only is it easy to make errors, but this method also doesn’t measure any interior fat or fat contained in thighs and women’s breasts. </p>
  <p>Ultimately the percentage of body fat is just another number in the health equation. And if you are not happy with the result, all it takes is adding <a href="/diet-nutrition/weight-management/physical-activity/exercise-how-much-is-enough.aspx">exercise</a> and cutting calories to get it moving in the right direction. </p>



    </div> <!-- /container -->


<% include ./footer %>