<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/nutrition>Nutrition</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>A Guide to the Food Pyramid</h2>
          <p>• By Diana Rodriguez | Medically reviewed by Niya Jones, MD, MPH</p>
          <p>• http://www.everydayhealth.com/diet-nutrition/101/nutrition-basics/food-pyramid.aspx</p>
          <h3 class="eh-deck">
        The U.S. Department of Agriculture's food pyramid is a great way to remember how many servings you need from each food group. Use the newly redesigned, easy-to-read food pyramid as your personal guide to healthy eating.
    </h3>

        <p>Ever wish there was a quick-reference guide to remind you of the basics of good nutrition and healthy eating? If it's tough for you to track how many grains, meats, fruits, veggies, and dairy products you need each day, just think back to the food groups or food pyramid that we learned about as kids. Today’s food pyramid from the U.S. Department of Agriculture is new and improved, with even more great information to help everyone eat their way to good <a href="/diet-nutrition/101/benefits-of-healthy-eating/food-health-connection.aspx">health</a>.</p>
<p><strong>The Food Pyramid for Nutrition Guidance: The Changes</strong></p>
<p>Figuring out the food groups has actually become a little easier in recent years. "The look of the food pyramid has changed," notes Sandra Meyerowitz, MPH, RD, a nutritionist, online nutritional coach, and owner of Nutrition Works in Louisville, Ky. Vertical stripes replace the old blocks.</p>
<p>The changes were made, she says, to make the food pyramid easier to use. "People can take a quick look and understand without going into too much detail," says Meyerowitz. "The stripes on the pyramid are of varying widths, and that's to represent that you need more of some foods and less of others." For instance, the <a href="http://www.mypyramid.gov/pyramid/index.html" target="_blank" rel="nofollow">food pyramid</a> stripes are thicker for grains, fruits, and vegetables to emphasize their importance and thinner for oils and meats because they are to be eaten more sparingly.</p>
<p>It's important to remember though that the food pyramid is meant to be a guide to good nutrition, not a set of hard and fast rules. "The pyramid is based on the average adult," says Meyerowitz. "It doesn't take into consideration special dietary concerns or children."</p>
<p><strong>The Food Pyramid for Nutrition Guidance: How to Use It</strong></p>
<p>The new pyramid format gives you daily quantity totals for each of the food groups, then allows you to divide those amounts up into however many servings you want — of course, the more servings, the smaller each one will be.</p>
<p>   
</p>
<p>According to Meyerowitz, once you become familiar with the food pyramid and the different types of food groups it contains, there are quick ways to translate the nutrition recommendations directly to your plate. Meyerowitz suggests mentally breaking your plate into quarters at each meal. One half of your plate should be covered with vegetables, she says. One quarter should be taken up with <a href="/diet-nutrition/healthy-protein.aspx">protein</a>, and the last quarter with whole grains. Think of fruit as a side dish or even dessert. "It's an easy way without using any calculations or measurements to know you're on the right track. The hallmarks of good <a href="/diet-nutrition/101.aspx">nutrition</a> are balance, variety, and moderation," explains Meyerowitz.</p>
<p><strong>The Food Pyramid for Nutrition Guidance: A Snapshot</strong></p>
<p>

</p>
<p>Here's a breakdown of the food pyramid guidelines, which now list total daily amounts in each category that you can assign to meals and snacks throughout the day:</p>
<ul>
<li><strong>Grain Group: six ounce-equivalents or servings each day.</strong> Choose at least three that are whole grain.</li>
<li><strong>Vegetable Group: 2.5 cups total for five servings each day.</strong> Choose a variety of vegetables of different colors, including dark green and orange.</li>
<li><strong>Fruit Group: 2 cups total for four servings each day.</strong> Choose a variety of fruits of different colors.</li>
<li><strong>Milk Group: 3 cups each day.</strong> Yogurt, milk, and cheese (low-fat or fat-free versions are best).</li>
<li><strong>Meats and Beans Group: 5.5 ounces total for two or three servings each day.</strong> Lean meats, chicken, eggs, nuts, dried beans and peas, and fish.</li>
<li><strong>Oils: six teaspoons or servings each day.</strong> Choose mono- and polyunsaturated oils.</li>
<li><strong>Discretionary Calories: a small amount.</strong> An allotment of 100 to 300 calories can be used on foods with fats or sugars, like dessert.</li>
</ul>
<p><strong>The Food Pyramid for Nutrition Guidance: Portion Size</strong></p>
<p>Those guidelines make it seem easy enough, right? But you also have to follow those <a href="/diet-nutrition/portion-sizes.aspx">portion sizes</a> — and there may be a big difference between them and what you think a healthy portion size is.</p>
<p>"There's a lot of portion distortion right now, and it's taken a toll over the years," notes Meyerowitz. "That's why in America we tend to be so heavy. Even if you eat the right foods, if you eat too many, it's too many calories."</p>
<p>Use this guide to know what the right serving size is and make sure you're eating only the calories you need each day:</p>
<ul>
<li><strong>One-ounce equivalent or serving of grains:</strong> one-half cup cooked pasta, rice, or cereal; one bread slice; or one cup dry cereal</li>
<li><strong>One serving of vegetables:</strong> one-half cup vegetable juice, one-half cup cut vegetables, or one cup of raw leafy vegetables (such as spinach or salad)</li>
<li><strong>One serving of fruit:</strong> one-half cup fruit juice, one piece of medium-sized fruit (like an orange, apple, or banana), one-half cup cut fruit, or one-quarter cup dried fruit</li>
<li><strong>One cup equivalent of milk:</strong> one cup yogurt or milk, 1½ ounces low-fat or fat-free natural cheese, or two ounces processed or packed cheese</li>
<li><strong>One ounce equivalent of meat or beans:</strong> one-quarter cup cooked beans; one tablespoon peanut butter or other nut butter; one egg; or one ounce cooked meat, chicken, or fish</li>
<li><strong>One serving of oil:</strong> one teaspoon any vegetable oil, one tablespoon low-fat mayo, or two tablespoons light salad dressing</li>
</ul>
<p>The food pyramid is a great guide to good nutrition. So if you're not sure you're eating the fruits and vegetables that you need, or think your diet is a little heavy in fat, take a glance at the bright stripes of the food pyramid — they'll help keep you on track to make sure you’re achieving your nutrition goals.</p>


    </div> <!-- /container -->


<% include ./footer %>