<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/nutrition>Nutrition</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
          <h2>Why Fruits and Vegetables Are Vital</h2>
          <p>• By Melanie Winderlich | Medically reviewed by Pat F. Bass III, MD, MPH</p>
          <p>• http://www.everydayhealth.com/diet-nutrition/101/nutrition-basics/fruits-and-vegetables.aspx</p>
                        <h3 class="eh-deck">
        Eating a diet rich in fruits and vegetables is important for good health. Find out why experts say Mother Nature's bounty packs better nutrients than supplements.
    </h3>
        
  <p>If we are what we eat, then many of us must be tripping all over the place due to a lack of balance. That's because the average American eats about three servings of fruits and vegetables per day — a stark contrast to the Department of Health and Human Services (HHS) and the U.S. Department of Agriculture's (USDA) new guidelines stating that we should be eating 5 to 13 servings of nature's best, depending on the number of calories you need. </p>
  <p>So if we want to grow to be strong like Popeye, why can't we just down some supplements instead of devouring a pile of spinach? </p>
  <p>
    <strong>
      <a href="/health-report/diet-nutrition/eating-the-rainbow-for-good-nutrition.aspx">Nutrients in fresh fruits and vegetables</a> work together. </strong>Kristine Wallerius Cuthrell, MPH, RD, a research nutritionist and senior project coordinator for Hawaii Foods at the Center on the Family at University of Hawaii at Manoa, says that in the past five to 10 years, many large research studies have found that <a href="/diet-nutrition/vitamins-meds.aspx">vitamin supplements</a> don't provide the benefits that foods do. The 2005 Dietary Guidelines for Americans, created jointly between HHS and USDA and reviewed every five years, say that foods are the best sources of nutrients because they contain naturally occurring ingredients, like carotenoids and flavonoids. </p>
  <p>"In addition to the substances we are aware of, there are many present in fruits and vegetables that have yet to be discovered. Food and the nutrients they contain aren't consumed singly, but with each other. As such, they may act in synergistic ways to promote health," Cuthrell says. For instance, eating iron-rich plants, like spinach, with an iron-absorbing enhancer, like the vitamin C in orange juice, is great for people who don’t get enough iron (typically young women). </p>
  <p>
    <strong>Fruits and vegetables may prevent many illnesses. </strong>Eating fruits and vegetables may reduce your risk of cardiovascular diseases, stroke, <a href="/diabetes/type2/understanding.aspx">type 2 diabetes</a>, and even some forms of cancer. The Nurses' Health Study and Health Professionals Follow-up Study examined nearly 110,000 people over the course of 14 years. Part of the study revealed that the more fruits and vegetables people ate daily, the less chance they would develop cardiovascular diseases. </p>
  <p>

</p><p>The relationship between fruits and vegetables and cancer prevention has been more difficult to prove. However, recent studies show that some types of produce are associated with lower rates of some types of cancer. For example, the World Cancer Research Fund and the American Institute for Cancer Research suggest that mouth, stomach, and colorectal cancers are less likely with high intakes of non-starchy foods like leafy greens, broccoli, and cabbage. Though studies have been mixed, lycopene, a carotenoid that gives tomatoes their red color, may help stave off prostate cancer. </p>
  <p>
 
</p><p>
    <strong>Fruits and vegetables are great for watching your <a href="/diet-nutrition/weight-management.aspx">weight</a>. </strong>They’re low in fat and calories, and loaded with fiber and water, which create a feeling of fullness. This is particularly helpful for dieters who want more filling calories. Plus, that fiber helps keep you “regular.” </p>
  <p>
    <strong>Fruits and Vegetables: Get Your Fill</strong>
  </p>
  <p>When adding fruits and vegetables to your <a href="/diet-nutrition/101.aspx">diet</a>, remember that variety is the spice of life. It's important to eat produce of various colors because each fruit or vegetable offers a different nutrient — think of it as nutritional cross-training. Trying new foods can be exciting, and be sure to sample every color in the produce rainbow. </p>
  <p>The right number of servings of fruits and vegetables for you all depends on your daily caloric intake needs. A good way to find out how many servings you should be eating is by using the CDC's <a href="http://www.fruitsandveggiesmatter.gov/index.html" rel="nofollow" target="_new">online serving calculator</a>. Or make things even simpler by eating a fruit or vegetable at every meal and snack. </p>
  <p>Don't let season, accessibility, or cost affect your fruit- and vegetable-friendly diet. If finding fresh produce is difficult, choose frozen, canned (low-sodium), or dried varieties. Also, 100 percent juice counts toward your servings, though it doesn't offer the full <a href="/diet-nutrition/101/nutrition-basics/filling-up-on-fiber.aspx">fiber</a> of whole fruit. </p>
  <p>The power of prevention may lie in a salad bowl or a plate of fruit. When we take advantage of produce, our bodies return the favor by reducing our risk of developing various illnesses. </p>


    </div> <!-- /container -->


<% include ./footer %>