<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a> - <a href=/nutrition>Nutrition</a> </h1>
      </div>
    </div>


    <div class="container">

      <hr>
    <h1>Articles</h1>
    <div class="row">
          <h2>A Diet for Better Energy</h2>
          <p>• By Diana Rodriguez | Medically reviewed by Christine Wilmsen Craig, MD</p>
          <p>• http://www.everydayhealth.com/diet-nutrition/101/benefits-of-healthy-eating/eating-for-energy.aspx</p>
          <div class="row">
                        <h3 class="eh-deck">
        Complex carbs are key for sustained energy throughout the day, while too many sugary snacks can lead to energy crashes. Find out which foods you need for round-the-clock energy.
    </h3>
          <figure class="col-lg-3 col-md-3 col-sm-3 col-xs-12  article-image pull-left clear-left">
        <img src="http://images.agoramedia.com/everydayhealth/cms/eating-for-energy-article.jpg?width=200" id="eh-share-img" />

        
    </figure>
  <p>Juggling the responsibilities of work, life, and family can cause too little sleep, too much stress, and too little time. </p>
  <p>Yet even when you're at your busiest, you should never cut corners when it comes to maintaining a <a href="/diet-nutrition/101.aspx">healthy diet</a>. Your body needs food to function at its best and to fight the daily stress and fatigue of life. </p>
  <p>
    <strong>Energy and Diet: How The Body Turns Food Into Fuel </strong>
  </p>
  <p>Our energy comes from the foods we eat and the liquids we drink. The three main nutrients used for energy are carbohydrates, <a href="/diet-nutrition/101/nutrition-basics/how-much-protein-do-you-need.aspx">protein</a>, and <a href="/diet-nutrition/101/nutrition-basics/skinny-on-fat.aspx">fats</a>, with <a href="/diet-nutrition/101/nutrition-basics/what-about-carbohydrates.aspx">carbohydrates being the most important source</a>. Your body can also use protein and fats for energy when carbs have been depleted. When you eat, your body breaks down nutrients into smaller components and absorbs them to use as fuel. This process is known as metabolism. </p>
  <p>
    <a href="/diet-nutrition/101/nutrition-basics/good-carbs-bad-carbs.aspx">Carbohydrates come in two types</a>, simple and complex, and both are converted to sugar (glucose). “The body breaks the sugar down in the blood and the blood cells use the glucose to provide energy,” says Melissa Rifkin, RD, a registered dietitian at the Montefiore Medical Center in the Bronx, N.Y. </p>
  <p>
    
</p><p>
    <strong>Energy and Diet: Best Foods for Sustained Energy</strong>
  </p>
  <p>Complex carbohydrates such as high-fiber cereals, whole-grain breads and pastas, dried beans, and starchy vegetables are the best type of foods for prolonged energy because they are digested at a slow, consistent rate. “Complex carbohydrates contain fiber, which takes a longer time to digest in the body as it is absorbed slowly," says Rifkin. Complex carbs also stabilize your body’s sugar level, which in turn causes the pancreas to produce less insulin. This gives you a feeling of satiety and you are less hungry.” </p>
  <p>Also important in a healthy, energy-producing diet is protein (preferably chicken, turkey, pork tenderloin, and fish), legumes (lentils and beans), and a moderate amount of healthy monounsaturated and polyunsaturated fats (avocados, seeds, nuts, and certain oils). </p>
  <p>“Adequate fluids are also essential for sustaining energy,” says Suzanne Lugerner, RN, director of clinical nutrition at the Washington Hospital Center in Washington, D.C. “Water is necessary for digestion, absorption, and the transport of nutrients for energy. Dehydration can cause a lack of energy. The average person needs to drink six to eight 8-ounce glasses of water each day.” </p>
  <p>
    <strong>Energy and Diet: Foods to Avoid</strong>
  </p>
  <p>

</p><p>Simple carbohydrates, on the other hand, should be limited. Ranging from candy and cookies to sugary beverages and juices, simple carbs are broken down and absorbed quickly by the body. They provide an initial burst of energy for 30 to 60 minutes, but are digested so quickly they can result in a slump afterward. </p>
  <p>You should also avoid alcohol and caffeine. Alcohol is a depressant and can reduce your energy levels, while caffeine usually provides an initial two-hour energy burst, followed by a crash. </p>
  <p>
    <strong>Energy and Diet: Scheduling Meals for Sustained Energy</strong>
  </p>
  <p>“I always recommend three meals and three snacks a day and to never go over three to four hours without eating something,” says Tara Harwood, RD, a registered dietitian at the Cleveland Clinic in Ohio. “If you become too hungry, this can cause you to overeat.” </p>
  <p>Also, try to include something from each food group at every meal, remembering that foods high in fiber, protein, and fat take a longer time to digest. </p>
  <p>Even if life is hectic, it’s important to make wise food choices that provide energy throughout the day. Your body will thank you. </p>

    </div>




      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
