<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><a href=/>FitApp </a>- Nutrition Information</h1>
      </div>
    </div>


    <div class="container">

      <hr>
		<h1>Articles</h1>
    <div class="row">

        <div class="col-md-4">
          <h3>Nutrition Guidelines: Getting Started</h3>
        </div>
    <div class="col-md-4">
          <h3>A Diet for Better Energy</h3>
        </div>
        <div class="col-md-4">
          <h3>Why Fruits and Vegetables Are Vital</h3>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutr1" role="button">Read more &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutr2" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutr3" role="button">Read more &raquo;</a></p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <h3>Measuring Body Fat</h3>
        </div>
    <div class="col-md-4">
          <h3>A Guide to the Food Pyramid</h3>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutr4" role="button">Read more &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-default" href="/nutr5" role="button">Read more &raquo;</a></p>
        </div>
      </div>

    </div> <!-- /container -->



<% include ./footer %>