<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
        <script src="personal.js"></script>
  </head>

  <body>

  <% include ./navbarSession %>

	<div class="container">
	<p> add data here </p>
	</div>
	
<ul class="nav nav-tabs" style="margin-left=50%; margin-right=50%">
  <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Sleep</a></li>
  <li><a data-toggle="tab" href="#menu2">Step Tracker</a></li>
  <li><a data-toggle="tab" href="#menu3">Calorie Counter</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
	<div class="container" style="border:20px solid black">
		<hr>
		<h3>Name: <%=user_name%> </h3>
		<h3>Email: <%=user_email%> </h3>
		</hr>

		<br>
		<h2>Wellness Tips</h2>
		<ol>
		<li>Your calories went down.  Good job! </li>
		<li>Your excercise went down.  Try to add 100 more steps tomorrow! </li>
		</ol>
		
	</div>
  </div>
  <div id="menu1" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Hours of Sleep</p>
        <div class="row">
          <div id="sleep_hours" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
  </div>
    <div id="menu2" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Step Tracker</p>
        <div class="row">
          <div id="running_steps" class="col-md-8 col-md-push-2" ></div>
        </div>
	  </div>
  </div>
      <div id="menu3" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Calorie Counter</p>
        <div class="row">
          <div id="calorie" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
  </div>
</div>
	


	

<% include ./footer %>
