<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
        <script src="personal.js"></script>
  </head>

  <body>

  <% include ./navbarSession %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>FIT</h1>
      </div>
    </div>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">Weeks</a>
        </li>
        <li><a href="#">Months</a></li>
        <li><a href="#">Years</a></li>
      </ul>
    </div>
    <div class="container">
      <div>
        <br><br>
        <p class="text-center" style="font-size:30px">Hours of Sleep</p>
        <div class="row">
          <div id="sleep_hours" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
      <hr>
      <div class="container">
        <br><br>
        <p class="text-center" style="font-size:30px">Step Tracker</p>
        <div class="row">
          <div id="running_steps" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
      <hr>
      <div class="container">
        <br><br>
        <p class="text-center" style="font-size:30px">Calorie Counter</p>
        <div class="row">
          <div id="calorie" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
    </div>
    <div class="container">
      <br><br>
    </div>



<% include ./footer %>
