<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
        <script src="personal.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form id="myFile" class="navbar-form navbar-right" method="post" action="/updateData">
            <label style="color:white">Welcome, </label>
            <a style="color: white" id="updateData" ><%=user_name%></a>
            <input type="hidden" value="<%=user_email%>" name="email"></input>
            <a class="btn btn-success" href="/">Sign out</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>FIT</h1>
      </div>
    </div>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">Weeks</a>
        </li>
        <li><a href="#">Months</a></li>
        <li><a href="#">Years</a></li>
      </ul>
    </div>
    <div class="container">
      <div>
        <br><br>
        <p class="text-center" style="font-size:30px">Hours of Sleep</p>
        <div class="row">
          <div id="sleep_hours" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
      <hr>
      <div class="container">
        <br><br>
        <p class="text-center" style="font-size:30px">Step Tracker</p>
        <div class="row">
          <div id="running_steps" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
      <hr>
      <div class="container">
        <br><br>
        <p class="text-center" style="font-size:30px">Calorie Counter</p>
        <div class="row">
          <div id="calorie" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
    </div>
    <div class="container">
      <br><br>
      <footer>
        <p>&copy; Group6 2015</p>
      </footer>
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
