<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  		<script src="homepage.js"></script>
        <script src="personal.js"></script>

  </head>

  <body>

  <% include ./navbarSession %>

	
<ul class="nav nav-tabs" style="margin-left=50%; margin-right=50%">
  <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Sleep</a></li>
  <li><a data-toggle="tab" href="#menu2">Step Tracker</a></li>
  <li><a data-toggle="tab" href="#menu3">Calorie Counter</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
	<div class="container" style="border:20px solid black">
		<hr>
		<h3>Name: <%=user_name%> </h3>
		<h3>Email: <%=user_email%> </h3>
		</hr>
		<br>
		
			  <form id="myFile2" method="post" action="/updateData2">
				<a class="btn btn-success" id="updateData2">Input New Data Points</a>
				<input type="hidden" id="emailAddress" value="<%=user_email%>" name="email"></input>
				<input type="hidden" id="username" value="<%=user_name%>" name="user_name"></input>
			  </form>
			  
			<h2>Wellness Tips Based on Your Data</h2>
			<ol>
			
		<div id="sleepTips">
			<p><b>Sleep Tips</b></p>
		</div>
		<div id="CalorieTips">
			<p><b>Nutrition Tips</b></p>
		</div>
		<div id="ExerciseTips">
			<p><b>Exercise Tips</b></p>
		</div>		
		</ol>
	</div>
  </div>
  <div id="menu1" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Hours of Sleep</p>
        <div class="row">
          <div id="sleep_hours" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
  </div>
    <div id="menu2" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Step Tracker</p>
        <div class="row">
          <div id="running_steps" class="col-md-8 col-md-push-2" ></div>
        </div>
	  </div>
  </div>
      <div id="menu3" class="tab-pane fade">
      <div class="container" style="border:20px solid black">
        <br><br>
        <p class="text-center" style="font-size:30px">Calorie Counter</p>
        <div class="row">
          <div id="calorie" class="col-md-8 col-md-push-2" ></div>
        </div>
      </div>
  </div>
</div>
	


	

<% include ./footer %>
