<!DOCTYPE html>
<html lang="en">

  <% include ./header %>

        <link href="signup.css" rel="stylesheet">
    <script src="signup.js"></script>
  </head>

  <body>

    <div class="container">

      <form class="form-signup" id="signup" method="post" action="/personal">
        <h2 class="form-signup-heading">Please sign up</h2>
        <input type="username" id="inputUserName" class="form-control" placeholder="User Name" required>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        <div class="contianer">
          <a id="signup-btn" class="btn btn-success" style="text-align:left">Sign up</a>
          <a class="btn btn-success pull-right" href="/" style="text-align:right">Cancel</a>
        </div>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
