<!DOCTYPE html>
<html lang="en">

	<% include ./header %>
  <script src="homepage.js"></script>
  </head>

  <body>

  <% include ./navbarNoSession %>

    <div class="container">

      <hr>
		<h1>Our Recommended Tracking Tools:</h1>
    </div> <!-- /container -->
	
      <!-- Three columns of text below the carousel -->
      <div class="row" style="text-align:center">
        <div class="col-lg-3">
		<div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(76,81,132,0.4)">
          <img class="img-circle" src="/images/fitbit.jpg" alt="FitBit" width="140" height="140">
          <h2>Fitbit</h2>
          <p>Fitbit - A pedometer and sleep tracker</p>
          <p><a class="btn btn-default" href="https://www.fitbit.com/" role="button">Fitbit Site &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
		<div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(102,149,124,0.4)">
          <img class="img-circle" src="/images/jawbone.jpg" alt="Jawbone" width="140" height="140">
          <h2>Jawbone UP</h2>
          <p>Jawbone UP - A pedometer and sleep tracker</p>
          <p><a class="btn btn-default" href="https://jawbone.com/up" role="button">Jawbone UP Site &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->	
		<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(94,120,134,0.4)">
          <img class="img-circle" src="/images/garmin.jpg" alt="Garmin" width="140" height="140">
          <h2>Garmin Heart Rate Monitor</h2>
          <p>Garmin - measures heart rate during your excercise sessions</p>
          <p><a class="btn btn-default" href="https://buy.garmin.com/en-US/US/shop-by-accessories/fitness-sensors/heart-rate-monitor/prod10996.html" role="button">Garmin Heart Rate Monitor &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->	
		<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(100,100,100,0.4)">
          <img class="img-circle" src="/images/moov.jpg" alt="Moov Now" width="140" height="140">
          <h2>Moov Now</h2>
          <p>Moov band - An activity band that can track swimming/biking</p>
          <p><a class="btn btn-default" href="http://welcome.moov.cc/" role="button">Moov Now Site &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->
		</div>
		<br>
      <div class="row" style="text-align:center">		
		<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(40,120,77,0.4)">
          <img class="img-circle" src="/images/caloriecounter.jpg" alt="CalorieCounter" width="140" height="140">
          <h2>Calorie Counter</h2>
          <p>Calorie Counter - a calorie counting app for android/iPhone by MyFitnessPal</p>
          <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.myfitnesspal.android&hl=en" role="button">Calorie Counter &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->
		<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(40,84,108,0.4)">
          <img class="img-circle" src="/images/hike.jpg" alt="MapMyHike" width="140" height="140">
          <h2>Map My Hike</h2>
          <p>Map My Hike - a GPS based hike tracker.  Can track distance and duration of a walk/hike.</p>
          <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.mapmyhike.android2" role="button">Map My Hike &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->	
				<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(50,56,117,0.4)">
          <img class="img-circle" src="/images/yoga.jpg" alt="Yoga" width="140" height="140">
          <h2>Yoga.com</h2>
          <p>Yoga - an app that will teach and lead you through a yoga workout or routine.</p>
          <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.yoga.pro.google.paid" role="button">Yoga &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->	
		<div class="col-lg-3">		
		  <div class="center-block" style="border:5px solid black; border-radius:25px; background-color:rgba(40,84,108,0.4)">
          <img class="img-circle" src="/images/water.jpg" alt="Water Bottle" width="140" height="140">
          <h2>Hydration Tracker</h2>
          <p>Aqualert: tracks daily hydration, and can schedule hydration reminders.</p>
          <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.overseasolutions.waterapp.app&hl=en" role="button">Hydration Help &raquo;</a></p>
		  </div>
        </div><!-- /.col-lg-4 -->			
		
      </div><!-- /.row -->


<% include ./footer %>