<!DOCTYPE html>
<html lang="en">

  <% include ./header %>
  <script src="updateData.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <label style="color: white">Welcome, <%=user_name%>!&nbsp</label>
            <a class="btn btn-success" href="/">Sign out</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>FIT</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3">
          <h2>Personal Update</h2><br>
          <form id="personal_data" method="post" action="/personal">
            <div class="form-group">
               <input type="text" class="form-control" id="name" value="<%=user_name%>"
                  readonly>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="email" name="email" value="<%=user_email%>"
                  readonly>
            </div>
             <div class="form-group">
                <input type="text" class="form-control" id="steps"
                   placeholder="Steps">
             </div>
             <div class="form-group">
                <input type="text" class="form-control" id="calorie"
                   placeholder="Calorie">
             </div>
             <div class="form-group">
                <input type="text" class="form-control" id="sleep_hours"
                   placeholder="Sleep hours">
             </div>
             <div class="form-group">
                <input type="text" class="form-control" id="heart_rates"
                   placeholder="Heart Rates">
             </div>
             <div class="text-center">
               <button class="btn btn-default text-center" id="submit" >submit</button>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <button class="btn btn-default text-center" id="cancel">cancel</button>
             </div>
             </div>
          </form>
        </div>
      </div>

    </div>
    <div class="container">
      <br><br>

    </div>




<% include ./footer %>
